@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.text-stroke {
  -webkit-text-stroke-color: #FFF;
  -webkit-text-stroke-width: 1px;
  opacity: 0.019;
}